body {
	margin: 0;
	padding: 0;
}

.container {
	position: fixed;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
}

.counter {
	display: flex;
	gap: 20px;
	background-color: #ecc59a;
	padding: 10px 20px;
	border: 1px solid #ecc59a;
	border-radius: 5px;
}

.counter div {
	display: flex;
	align-items: center;
	gap: 10px;
}

.next-player {
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 20px;
}

.occupied {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.occupied.whitePiece {
	background-color: white;
}

.occupied.blackPiece {
	background-color: black;
}


.game {
	background-image: url("https://t4.ftcdn.net/jpg/03/69/25/05/360_F_369250586_z5HZqoztht4SIMRycXGNsVoELLLKrpjg.jpg");
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
}

.game .row {
	width: 125%;
	height: 20%;
	display: flex;
}

.game .row .column {
	width: 10%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game .row .column .occupied {
	width: 80%;
	height: 80%;
	border-radius: 50%;
}

.game .row .column .occupied.blackPiece {
	background-color: black;
}

.game .row .column .occupied.whitePiece {
	background-color: white;
}

.game .row .column.whiteCase {
	background-color: #4c382e;
}

.game .row .column.blackCase {
	background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxMjUtYWtlNzAwNS1hLmpwZw.jpg");
}

.readyToMove {
	background-color: green;
}

/* modal style */
* {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
}

body {
	font-family: sans-serif;
	position: relative;
	font-size: 16px;
	line-height: 1.6;
	color: #000000;
	/* background-image: url(https://picsum.photos/1920/1080); */
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.start{
	padding: 15px 32px;
	font-size: 20px;
}

#restart{
	padding: 15px 32px;
	font-size: 20px;
}

#color{
	padding: 15px 32px;
	font-size: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #b1102b;
  }
  
  li {
	float: left;
	padding: auto;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #13284c;
  }

  img{
	height: 47px;
	width: auto;
  }