ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b1102b;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #13284c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b1102b;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #13284c;
}

img {
  height: 47px;
  width: auto;
}

button {
  display: block;
  background-color: #13284c;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  margin: 0 auto;

}

* {
  margin: 0;
  padding: 0;
}

button:hover {
  background-color: #b1102b;
}



h1 {
  text-align: center;
  margin: 20px 0;
}

body {
  font-family: sans-serif;
  position: relative;
  font-size: 16px;
  line-height: 1.6;
	color: #000000;
  /* background-image: url(https://picsum.photos/1920/1080); */
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}